@font-face {
  font-family: "NeueHaas";
  src:
    local("NeueHaas"),
    url("/fonts/NeueHaasUnicaW1G-Regular.otf") format("opentype");
}

@font-face {
  font-family: "TITLE";
  src:
    url("/fonts/TITLE.ttf") format("truetype");
}

:root {
  font-family: NeueHaas, Helvetica, Arial, sans-serif;
  font-size: 62.5%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  color-scheme: light dark;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 2rem;

  --font-size-1: 1.7rem;
  --font-size-2: 1.3rem;
  --font-size-3: 1.3rem;

  --border-thickness: 0.2rem;

  --color-text: #000000;

  --color-bg-light: rgba(255, 255, 255, 1);

  --cursor-primary: url("/arrows/Arrow-V2.svg"), auto;
  --cursor-left: url("/arrows/Back-V2.svg"), auto;
  --cursor-right: url("/arrows/Forward-V2.svg"), auto;
  --cursor-expand: url("/arrows/Expand-V2.svg"), auto;
  --cursor-contract: url("/arrows/Contract-V2.svg"), auto;
}

html {
  background-color: var(--color-bg-light);
  cursor: var(--cursor-primary);
}

body {
  font-size: var(--font-size-3);
  line-height: 1.3;
}

h1 {
  font-family: TITLE, Helvetica, Arial, sans-serif;
  font-size: var(--font-size-1);
  line-height: 1.3;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: var(--font-size-2);
  line-height: 1.0;
  /*text-transform: uppercase;*/
  margin: 0;
}

a {
  display: inline-block;
  cursor: var(--cursor-primary);
  color: var(--color-text);
  text-decoration: none;
  border-bottom: var(--border-thickness) solid transparent;

  &:hover, &.-hover {
    border-bottom: var(--border-thickness) solid var(--color-text);
  }

  &.home-navigation:hover {
    border-bottom: var(--border-thickness) solid transparent;
  }
}

/* Desktop Sizes */
@media (min-width: 1000px) {
  :root {
    --spacing-xs: 0.25rem;
    --spacing-sm: 1.3rem;
    --spacing-md: 5rem;


    --font-size-1: 3rem;
    --font-size-2: 2rem;
    --font-size-3: 2em;
  }
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #FFFFFF;

    --color-bg-light: rgba(30, 30, 30, 1);

    --cursor-primary: url("/arrows/Arrow-V2-White.svg"), auto;
    --cursor-left: url("/arrows/Back-V2-White.svg"), auto;
    --cursor-right: url("/arrows/Forward-V2-White.svg"), auto;
    --cursor-expand: url("/arrows/Expand-V2-White.svg"), auto;
    --cursor-contract: url("/arrows/Contract-V2-White.svg"), auto;
  }
}
